My_workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f0d660ec-129f-4caa-95cf-708e4f50fbda",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1ytKaHE3jzIvw5GsU1sd-sJbXZYfgXZYL",
            "mode": "list",
            "cachedResultName": "heritage_sample_files_large_bundle",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1ytKaHE3jzIvw5GsU1sd-sJbXZYfgXZYL"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "9789022f-0866-4891-b721-2ac9a57380d9",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VDq4NSkenw0KXe7G",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "15489611-176b-4fe1-ab1d-9888d95aca7e",
      "name": "Get Content",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VDq4NSkenw0KXe7G",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        0
      ],
      "id": "677f6320-6b22-4f86-873d-e44958b97087",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "embeddingBatchSize": null,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        880,
        100
      ],
      "id": "546546a1-5e19-4948-b533-8f288b7bf010",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "JLuhufRBBnOppUpg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        320
      ],
      "id": "88240a97-252c-4e72-859b-e5ca97c1bad9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "6HzMbUUXNKUigsj3",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1100,
        320
      ],
      "id": "d1842dc5-035e-4ab2-890b-c19f80ba7f3e",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f301cbd2-ef56-4aa6-b3fa-bc38d2967b9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1cd7bee78f45f84430c2a4c54d8219b5e974b49db8cca873f25b1d27d68494d"
  },
  "id": "9cftpdilzWAgzCCj",
  "tags": []
}